# core code examples
palmerpenguins
plotnine
shiny

# website rendering
ipykernel
jupyter
shinylive

# mybinder
jupyter-server-proxy

# AI slides (07-08)
anthropic
chatlas
openai
python-dotenv
querychat
shinychat

# extended Shiny UI
faicons
shinywidgets

# data & visualization
altair
pandas
plotly
ridgeplot
seaborn

# testing
playwright
pytest
pytest-playwright
